@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>We prioritize the privacy and security of our users. We are committed to maintaining the confidentiality of any information you provide to us. We want you to feel confident that your personal data is protected when visiting our website.</p>
<p>We want to assure you that we do not collect any personally identifiable information (PII) without your explicit consent. When you visit our website, we may collect certain non-personal information such as your IP address, browser type, operating system, and referring website. This information is solely used for analytical purposes to improve the functionality and performance of our website.</p>
<p>Furthermore, we want to emphasize that we do not save any user data. Any information or data entered during your session on our website is temporary and will be lost once you close the site. We do not retain any browsing history, form submissions, or other user-generated content.</p>
<p>We also want to highlight that we do not use cookies or any other tracking technologies to gather information about your browsing behavior. We respect your right to browse our site anonymously and without intrusive data collection.</p>
<p>Please note that while we take all reasonable precautions to protect your information, no data transmission over the internet can be guaranteed to be 100% secure. Therefore, we cannot guarantee the absolute security of any information you transmit to us, and you do so at your own risk.</p>